<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<stringAttribute key="bad_container_name" value="\JFlowMap\launch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JFlowMap/src/jflowmap/FlowstratesApplet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="950"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS">
<mapEntry key="nodesCsv" value="demo/data/refugee-nodes.csv.gz"/>
<mapEntry key="labelAttr" value="Name"/>
<mapEntry key="yNodeAttr" value="Lat"/>
<mapEntry key="destNodeAttr" value="Dest"/>
<mapEntry key="weightAttr" value="[0-9]{4}"/>
<mapEntry key="xNodeAttr" value="Lon"/>
<mapEntry key="originNodeAttr" value="Origin"/>
<mapEntry key="nodeIdAttr" value="Code"/>
<mapEntry key="maxVisibleTuples" value="200"/>
<mapEntry key="flowsCsv" value="demo/data/refugee-flows.csv.gz"/>
<mapEntry key="areaMapSrc" value="demo/data/maps/countries-areas-ll.xml.gz"/>
</mapAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="1920"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jflowmap.FlowstratesApplet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JFlowMap"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx256M"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:JFlowMap}"/>
</launchConfiguration>
