<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<stringAttribute key="bad_container_name" value="\JFlowMap\launch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JFlowMap/src/jflowmap/FlowstratesApplet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="1200"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS">
<mapEntry key="labelAttr" value="name"/>
<mapEntry key="maxVisibleTuples" value="1000"/>
<mapEntry key="shapefile" value="demo/data/shapefiles/slo/SVN_adm2.shp.gz"/>
<mapEntry key="src" value="demo/data/commuters-si.xml.gz"/>
<mapEntry key="weightAttr" value="[0-9]{4}"/>
<mapEntry key="xNodeAttr" value="lon"/>
<mapEntry key="yNodeAttr" value="lat"/>
</mapAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="1900"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jflowmap.FlowstratesApplet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JFlowMap"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx256M"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:JFlowMap}"/>
</launchConfiguration>
